<div>
    <h3>Comments</h3>
  {{#each this}}
  <section>
    <div>
     <strong><u>{{user.username}} on {{format_date created_at}}</u></strong> 
    </div>
    <div>
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>